MSSV=DTC245200018
WP_DB=wp_DTC245200018
WP_USER=wp_DTC245200018
WP_PASSWORD=CHANGE_ME_STRONG_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_STRONG_PASSWORD
PMA_PASSWORD=CHANGE_ME_STRONG_PASSWORD
GRAFANA_USER=admin
GRAFANA_PASSWORD=CHANGE_ME_STRONG_PASSWORD
BIND_ADDR=127.0.0.1
HOST_UID=1000
HOST_GID=1000
